body 
  position:relative;
  padding-top: 30px;
  font-family: 'Dosis', sans-serif;


h1, h2, h3 
  font-family: 'Cabin', sans-serif;


.clickable 
  cursor: pointer;

@import "parts/plans";
@import "parts/recipes";
@import "parts/shoppinglist";

//Fix for bootstraps modal dialog on mobile devices, when scrolled a little down.
//Source: http://stackoverflow.com/a/12233964/224751
@media (max-width: 767px)
  #container .modal.fade.in 
    top: 5%;