body 
  position:relative;
  padding-top: 90px;
  font-family: 'Dosis', sans-serif;


h1, h2, h3 
  font-family: 'Cabin', sans-serif;


.clickable 
  cursor: pointer;

@import "parts/plans";
@import "parts/recipes";
@import "parts/shoppinglist";