!!!
doctype html
html(ng-app="foodplanner")
  head
    title= title
    
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Dosis&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Cabin:400,700,400italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Quattrocento:400,700&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    
    style(type="text/css")
      /* Landscape phones and down */
      @media (max-width: 480px) {
        body {
          padding-top: 0px;
        }
        
        #mealPlan li div {
          width: 100%;
        }
      }
     
      /* Landscape phone to portrait tablet */
      @media (max-width: 767px) {
        body {
          padding-top: 0px;
        }
      }
     
      /* Portrait tablet to landscape and desktop */
      @media (min-width: 768px) and (max-width: 979px) {
        body {
          padding-top: 0px;
        }
        
      }
     
      /* Large desktop */
      @media (min-width: 1200px) {}
      
    script(src='/js/libs/jquery-1.7.2.min.js')
    script(src='/js/libs/bootstrap.min.js')
    script(src='/js/libs/bootstrap-typeahead.js')
    script(src='/js/libs/angular-1.0.1.min.js')
    script(src='/js/libs/i18n.js')
    script(src='/js/utils.js')
    script(src='/js/app.js')
    script(src='/js/controllers.js')
    script(src='/js/services.js')
    script(src='/js/libs/angular/angular-bootstrap-1.0.1.min.js')
    script(src='/js/libs/angular/angular-resource-1.0.1.min.js')
  
    script
      $.i18n.init({
         resGetPath: '/locales/__lng__/__ns__.json'
        ,fallbackLng : 'da'
        ,ns: { namespaces : ['locale.common','locale.plans','locale.recipes','locale.ingredients'], defaultNs : 'locale.common'}
      }, function(){
        window.t = $.t;
      });
    
  body(data-spy="scroll")
    #navar.navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand Food Planner
          ul.nav.hidden-phone
            != partial('partials/navigation')
          ul.nav.visible-phone
            li.dropdown#phoneNavMenu
              a.dropdown-toggle(data-toggle="dropdown", href="#phoneNavMenu")= t('pages.plans')
                b.caret
              ul.dropdown-menu
                != partial('partials/navigation')
                  
          ul.nav.pull-right.hidden-phone
            != partial('partials/usermenu', {currentUser : currentUser})
          ul.nav.pull-right.visible-phone
            li.dropdown#phoneUserMenu
              a.dropdown-toggle(data-toggle="dropdown", href="#phoneUserMenu")
                i.icon-user.icon-white
                b.caret
              ul.dropdown-menu
                != partial('partials/usermenu', {currentUser : currentUser})
    div.container(ng-view)
      
    
    